# Análise de dados com Pandas e SQL

DataFrame = Tabelas

Series = Colunas

Indices = Linhas

In [109]:
import pandas as pd
import numpy as np
from numpy.random import randn

## Series

### Criando Series apartir de outros objetos

In [110]:
lista = ['jessica','evelin','silva']
print(pd.Series(lista))
print('----')

dicionario = {'indice_d': 10, 'indice_e': 20, 'indice_f': 30}
print(pd.Series(dicionario))
print('----')

array = np.array([40, 50, 60])
print(pd.Series(data = array, index = lista))

0    jessica
1     evelin
2      silva
dtype: object
----
indice_d    10
indice_e    20
indice_f    30
dtype: int64
----
jessica    40
evelin     50
silva      60
dtype: int64

### Selecionando valores de Series

In [111]:
paises_a = pd.Series([5,7,12,3], index=['EUA', 'Brasil', 'Argentina', 'China'])
paises_b = pd.Series([10,20,30,40], index=['EUA', 'Chile', 'Argentina', 'China'])

print(paises_a)
print('----')

print(paises_b)
print('----')

print(paises_a[['Brasil', 'EUA']])
print('----')

print(paises_a[['EUA']])
print('----')

EUA           5
Brasil        7
Argentina    12
China         3
dtype: int64
----
EUA          10
Chile        20
Argentina    30
China        40
dtype: int64
----
Brasil    7
EUA       5
dtype: int64
----
EUA    5
dtype: int64
----

### Somando Series

In [112]:
print(paises_a + paises_b)

Argentina    42.0
Brasil        NaN
Chile         NaN
China        43.0
EUA          15.0
dtype: float64

## DataFrames

### Criando um DF

In [113]:
df = pd.DataFrame(randn(5,4), index=['A','B','C','D', 'E'], columns ='W X Y Z'.split()) # split e uma outra forma de fazer uma lista
df

          W         X         Y         Z
A  0.401451  0.939553 -0.918351 -0.152371
B  0.680274 -1.150253  1.124790  0.517425
C  0.178798 -0.316577 -1.643051  0.235136
D  1.658206 -1.468568  0.223472 -1.768720
E -1.450825 -0.037364 -0.248139  1.017535

### Selecionando colunas/Series

Toda a seleção com duplas [[]], retorna um data frame

E as com [] simples, retorna uma Series

In [114]:
# Retorna em Series
print(df['W'])
df.iloc[2,2] # Selecionado pela linha e pela coluna
print(type(df['W']))
print('----')

# Retorna em DataFrame
print(df[['W']])
df.iloc[[2,2]] # Selecionado pela linha e pela coluna
print(type(df[['W']]))

A    0.401451
B    0.680274
C    0.178798
D    1.658206
E   -1.450825
Name: W, dtype: float64
<class 'pandas.core.series.Series'>
----
          W
A  0.401451
B  0.680274
C  0.178798
D  1.658206
E -1.450825
<class 'pandas.core.frame.DataFrame'>

In [115]:
# Loc é para o nome das colunas
df.loc[:] # Tudo
df.loc[['A','C'],:] # Apenas algumas linhas
df.loc[:,['X','Y']] # Apenas algumas colunas
df.loc[['B'],['X']] # Selecionado pela linha e pela coluna

# Iloc é para os números e posições
df.iloc[:] # Tudo
df.iloc[1:3,:] # Apenas algumas linhas
df.iloc[:,2:4] # Apenas algumas colunas
df.iloc[[2,2]] # Selecionado pela linha e pela coluna
df.iloc[:-1,:]] # Tudo menos a última linha

SyntaxError: unmatched ']' (2861594339.py, line 12)

### Adicionando Colunas/Series

In [ ]:
df['NovaColuna'] = df['W']
df['NovaColuna'] = df['W'] * df['X'] + 1000
df

          W         X         Y         Z   NovaColuna
A -0.318850  0.190298  0.811405  1.267467   999.939324
B -1.600750 -0.587911  0.115477 -0.131726  1000.941099
C -0.713648  0.146188  1.021631 -0.336374   999.895673
D  0.391783  1.039593 -0.283614 -0.494330  1000.407294
E  1.062240 -0.600410 -0.570514 -1.770427   999.362220

### Removendo Colunas/Series

In [ ]:
# Drop, axis=1 é coluna e axis=0 é linha
df.drop('NovaColuna', axis=1, inplace = True)

# Del, é a mesma coisa do Drop de forma simplificada
del df['W']

df

          X         Y         Z
A  0.190298  0.811405  1.267467
B -0.587911  0.115477 -0.131726
C  0.146188  1.021631 -0.336374
D  1.039593 -0.283614 -0.494330
E -0.600410 -0.570514 -1.770427

### Seleção condicional

In [ ]:
print(df > 0) # Quando o meu df é maior que zero
print('----')
print(df[df > 0]) # Aqueles que são menores serão tratados como NaN
print('----')
print(df['Z'] > 0 )
print('----')
print(df[df['Z']>0])

       X      Y      Z
A   True   True   True
B  False   True  False
C   True   True  False
D   True  False  False
E  False  False  False
----
          X         Y         Z
A  0.190298  0.811405  1.267467
B       NaN  0.115477       NaN
C  0.146188  1.021631       NaN
D  1.039593       NaN       NaN
E       NaN       NaN       NaN
----
A     True
B    False
C    False
D    False
E    False
Name: Z, dtype: bool
----
          X         Y         Z
A  0.190298  0.811405  1.267467

In [ ]:
print((df['Z'] > 0) & (df['X'] > 0)) # Compara linha a linha

print('----')

print(df[(df['Z'] > 0) & (df['X'] > 0)]) # Tras todas as colunas, das linhas selecionadas

A     True
B    False
C    False
D    False
E    False
dtype: bool
----
          X         Y         Z
A  0.190298  0.811405  1.267467

### Mais detalhes dos índices

In [116]:
print(df.index) # Linhas
print(df.columns) # Colunas

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')
Index(['W', 'X', 'Y', 'Z'], dtype='object')

In [117]:
df['novo_indice'] = 'PB PE SP RJ RS'.split() # Adiciona uma coluna
df

          W         X         Y         Z novo_indice
A  0.401451  0.939553 -0.918351 -0.152371          PB
B  0.680274 -1.150253  1.124790  0.517425          PE
C  0.178798 -0.316577 -1.643051  0.235136          SP
D  1.658206 -1.468568  0.223472 -1.768720          RJ
E -1.450825 -0.037364 -0.248139  1.017535          RS

In [118]:
df.reset_index(inplace=True) # Transforma o índice em coluna
df

  index         W         X         Y         Z novo_indice
0     A  0.401451  0.939553 -0.918351 -0.152371          PB
1     B  0.680274 -1.150253  1.124790  0.517425          PE
2     C  0.178798 -0.316577 -1.643051  0.235136          SP
3     D  1.658206 -1.468568  0.223472 -1.768720          RJ
4     E -1.450825 -0.037364 -0.248139  1.017535          RS

In [119]:
df.set_index('novo_indice', inplace=True) # Seta um novo índice
df

            index         W         X         Y         Z
novo_indice
PB              A  0.401451  0.939553 -0.918351 -0.152371
PE              B  0.680274 -1.150253  1.124790  0.517425
SP              C  0.178798 -0.316577 -1.643051  0.235136
RJ              D  1.658206 -1.468568  0.223472 -1.768720
RS              E -1.450825 -0.037364 -0.248139  1.017535

In [120]:
df.set_index('index', inplace=True) # Substitui o índice por uma coluna
df

              W         X         Y         Z
index
A      0.401451  0.939553 -0.918351 -0.152371
B      0.680274 -1.150253  1.124790  0.517425
C      0.178798 -0.316577 -1.643051  0.235136
D      1.658206 -1.468568  0.223472 -1.768720
E     -1.450825 -0.037364 -0.248139  1.017535