# Análise de dados com Pandas e SQL

DataFrame = Tabelas

Series = Colunas

Indices = Linhas

In [3]:
import pandas as pd
import numpy as np

In [25]:
lista = ['jessica','evelin','silva']
print(pd.Series(lista))
print('----')

dicionario = {'indice_d': 10, 'indice_e': 20, 'indice_f': 30}
print(pd.Series(dicionario))
print('----')

array = np.array([40, 50, 60])
print(pd.Series(data = array, index = lista))

0    jessica
1     evelin
2      silva
dtype: object
----
indice_d    10
indice_e    20
indice_f    30
dtype: int64
----
jessica    40
evelin     50
silva      60
dtype: int64

## Selecionando valores

In [ ]:
paises_a = pd.Series([5,7,12,3], index=['EUA', 'Brasil', 'Argentina', 'China'])
paises_b = pd.Series([10,20,30,40], index=['EUA', 'Chile', 'Argentina', 'China'])

print(paises_a)
print('----')

print(paises_b)

EUA        5
Brasil     7
Itália    12
China      3
dtype: int64
----
EUA          10
Chile        20
Argentina    30
China        40
dtype: int64

In [43]:
print(paises_a[['Brasil', 'EUA']])
print('----')

print(paises_a[['EUA']])
print('----')

print(paises_a + paises_b)

Brasil    7
EUA       5
dtype: int64
----
EUA    5
dtype: int64
----
Argentina     NaN
Brasil        NaN
Chile         NaN
China        43.0
EUA          15.0
Itália        NaN
dtype: float64